@use 'styles' as *;

.tab-component {
  border: 1px solid $neutral-900;
  width: 247px;
  height: 52px;
  border-radius: 999px;
  box-shadow: 1px 2px 0 $neutral-900;
  padding: 2px;
  display: flex;
  gap: 4px;
  background-color: $neutral-0;
}

button {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  border: none;
  font-family: inherit;
  color: $neutral-900;
  background-color: transparent;
  @include text-preset(4-semibold);
  cursor: pointer;

  &[aria-pressed="true"] {
    border: 1px solid $neutral-900;
    background-color: $yellow-500;
  }

  &:hover {
    border: 1px solid $neutral-900;
  }
  &:focus {
    @include focus-outline($neutral-0, $blue-600, 2px, 4px);
  }
}
